input:where([type="text"]),
input:where(:not([type])),
input:where([type="email"]),
input:where([type="url"]),
input:where([type="password"]),
input:where([type="number"]),
input:where([type="date"]),
input:where([type="datetime-local"]),
input:where([type="month"]),
input:where([type="search"]),
input:where([type="tel"]),
input:where([type="time"]),
input:where([type="week"]),
select:where([multiple]),
textarea,
select {
    appearance: none;
    background-color: #fff;
    border-color: oklch(55.1% 0.027 264.364);
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
        border-color: oklch(54.6% 0.245 262.881);
    }
}
input::placeholder,
textarea::placeholder {
    color: oklch(55.1% 0.027 264.364);
    opacity: 1;
}
::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
}
::-webkit-date-and-time-value {
    min-height: 1.5em;
}
::-webkit-date-and-time-value {
    text-align: inherit;
}
::-webkit-datetime-edit {
    display: inline-flex;
}
::-webkit-datetime-edit,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-meridiem-field {
    padding-top: 0;
    padding-bottom: 0;
}
select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='oklch(55.1%25 0.027 264.364)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    print-color-adjust: exact;
}
select:where([multiple]),
select:where([size]:not([size="1"])) {
    background-image: initial;
    background-position: initial;
    background-repeat: unset;
    background-size: initial;
    padding-right: 0.75rem;
    print-color-adjust: unset;
}
input:where([type="checkbox"]),
input:where([type="radio"]) {
    appearance: none;
    padding: 0;
    print-color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: oklch(54.6% 0.245 262.881);
    background-color: #fff;
    border-color: oklch(55.1% 0.027 264.364);
    border-width: 1px;
}
input:where([type="checkbox"]) {
    border-radius: 0px;
}
input:where([type="radio"]) {
    border-radius: 100%;
}
input:where([type="checkbox"]):focus,
input:where([type="radio"]):focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
input:where([type="checkbox"]):checked,
input:where([type="radio"]):checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
input:where([type="checkbox"]):checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    @media (forced-colors: active) {
        appearance: auto;
    }
}
input:where([type="radio"]):checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
    @media (forced-colors: active) {
        appearance: auto;
    }
}
input:where([type="checkbox"]):checked:hover,
input:where([type="checkbox"]):checked:focus,
input:where([type="radio"]):checked:hover,
input:where([type="radio"]):checked:focus {
    border-color: transparent;
    background-color: currentColor;
}
input:where([type="checkbox"]):indeterminate {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    @media (forced-colors: active) {
        appearance: auto;
    }
}
input:where([type="checkbox"]):indeterminate:hover,
input:where([type="checkbox"]):indeterminate:focus {
    border-color: transparent;
    background-color: currentColor;
}
input:where([type="file"]) {
    background: unset;
    border-color: inherit;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-size: unset;
    line-height: inherit;
}
input:where([type="file"]):focus {
    outline: 1px solid ButtonText;
    outline: 1px auto -webkit-focus-ring-color;
}
